.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 12vw); /* 10 columns to allow for space between rounds */
    grid-template-rows: repeat(30, 4vh);  /* More rows with less height for flexibility */
    gap: 6px;  /* Reduced gap to make the brackets closer to each other */
    justify-items: center;
    align-items: center;
    position: relative;
}

.match-container {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    padding: 0.35vw;
    width:11vw;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Styling for the bracket number note: removed it for more space*/
.bracket-number {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Add spacing between bracket number and player info */
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3vw;

}

.player {
    font-size: 1vw;
    font-weight: bold;
    color: #333;
    margin-right: 0.6vw; /* Add space between player name and point button */
}




/* First 8 matches */
#bracket-1 { grid-column: 1; grid-row: 1 / span 2; }
#bracket-2 { grid-column: 1; grid-row: 3 / span 2; }
#bracket-3 { grid-column: 1; grid-row: 5 / span 2; }
#bracket-4 { grid-column: 1; grid-row: 7 / span 2; }
#bracket-5 { grid-column: 1; grid-row: 9 / span 2; }
#bracket-6 { grid-column: 1; grid-row: 11 / span 2; }
#bracket-7 { grid-column: 1; grid-row: 13 / span 2; }
#bracket-8 { grid-column: 1; grid-row: 15 / span 2; }

/* First loser brackets */
#bracket-9 { grid-column: 1; grid-row: 19 / span 2; }
#bracket-10 { grid-column: 1; grid-row: 21 / span 2; }
#bracket-11 { grid-column: 1; grid-row: 23 / span 2; }
#bracket-12 { grid-column: 1; grid-row: 25 / span 2; }

/* Next winner rounds */
#bracket-13 { grid-column: 2; grid-row: 2 / span 2; }
#bracket-14 { grid-column: 2; grid-row: 6 / span 2; }
#bracket-15 { grid-column: 2; grid-row: 10 / span 2; }
#bracket-16 { grid-column: 2; grid-row: 14 / span 2; }

/* Next losers rounds */
#bracket-17 { grid-column: 2; grid-row: 24 / span 3; }
#bracket-18 { grid-column: 2; grid-row: 22 / span 3; }
#bracket-19 { grid-column: 2; grid-row: 20 / span 3; }
#bracket-20 { grid-column: 2; grid-row: 18 / span 3; }

/* Middle losers brackets */
#bracket-21 { grid-column: 3; grid-row: 23 / span 3; }
#bracket-22 { grid-column: 3; grid-row: 19 / span 3; }

/* Next winners rounds */
#bracket-23 { grid-column: 3; grid-row: 4 / span 2; }
#bracket-24 { grid-column: 3; grid-row: 12 / span 2; }

/* rest */

#bracket-25 { grid-column: 4; grid-row: 18 / span 2; }
#bracket-26 { grid-column: 4; grid-row: 22 / span 2; }
#bracket-28 { grid-column: 4; grid-row: 8 / span 2; }

#bracket-27 { grid-column: 5; grid-row: 20/ span 2; }
#bracket-30 { grid-column: 5; grid-row: 7/ span 2; }

#bracket-29 { grid-column: 6; grid-row: 19/ span 2; }
#bracket-31 { grid-column: 6; grid-row: 6/ span 2; }
