.title{margin-inline: auto; max-width: fit-content; font-family: fantasy; font-size: 5vw;}
.center_text{margin-inline: auto; max-width: fit-content; font-size: 1.5vw;}
.name_field{text-align: center; display: block; margin: 0 auto; width: 25vw; padding: 10px; font-size: 2vw; }
