<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Double-elimination bracket</title>
</head>
<body>
    <h1 class="title"> Title </h1>
    <div class="bracket-container"></div>    
    {% for match in matches%}
        <div class="match">
            <div class="player1">
                <p>{{match.player1.player_name}}</p>
                <form action="/update_score/{{ match.bracket_number }}/player1" method="post">
                    <input type="submit" value="{{ match.player1_points }}">
                </form>        
            </div>

            <div class="player2">
                <p>{{match.player2.player_name}}</p>
                <form action="/update_score/{{ match.bracket_number }}/player2" method="post">
                    <input type="submit" value="{{ match.player1_points }}">
                </form>
            </div>
        </div>
    {% endfor %}   
    </div>
</body>