<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <script>
        // Save the scroll position when the page is unloaded (i.e., before reloading)
        window.onbeforeunload = function() {
            localStorage.setItem('scrollPosition', window.scrollY);
        };
        
        // Restore the scroll position when the page is loaded
        window.onload = function() {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, scrollPosition);  // Scroll to the saved position
                localStorage.removeItem('scrollPosition');  // Clear the scroll position after restoring
            }
        };
        </script>
</head>
<body>
    <h1 class="title"> Leaderboard </h1>

    {% for group in leaderboard %}
    <h2 class="center_text">Group {{ group.name }}</h2>
    <table class="player_table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Total Points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for player in group.players %}
            <!--player name, player poinrs, select unselect button-->
            <tr>
                <td {% if player.player_id in advancing_players_id %} class="highlight" {% endif %}>
                    {{ player.dart.player }}
                </td>
                <td {% if player.player_id in advancing_players_id %} class="highlight" {% endif %}>
                    {{ player.total_points }}
                </td>
                <td>
                    <form action="/tournament/change/{{player.player_id}}/{{player.dart.player}}" method="GET" class="">
                        <input type="submit" value="test">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <form action="/tournament/start" method="GET" class="start_game">
        <input type="submit" value="Start Tournament">
    </form>
    <form action="/elimination-round/return" method="GET" class="start_game">
        <input type="submit" value="Return">
    </form>
</body>