<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
</head>
<body>

    <h1 class="title">Groups</h1>
    <p class="center_text">Number of Groups: {{ number_of_groups }}</p>

    <div class="center_text">
        {% for group in groups %}
            <h3 class="center_text">Group {{ loop.index }}:</h3>
            <ul class="list">
                {% for player in group %}
                    <li class="player_groups">{{ player }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <form action="{{ url_for('randomize_groups', number_of_groups=number_of_groups) }}" method="POST" class="start_game">
        <input type="submit" value="Randomize Again">
    </form>

    <!-- Button to go back to the main page-->
    <form action="{{ url_for('index') }}" method="GET" class="start_game">
        <input type="submit" value="Return">
    </form>
</body>
</html>
