<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dart Tournament</title>
</head>
<body>
    <div class="content">
        <h1 class="title">Dart Tournament</h1>
        <p class="center_text">Add or remove players</p>  

        <!-- Player table -->
         <table class="player_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Player Name</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through all players in the database and diplay them-->
                 {% for player in players %}
                 <tr class="player_row">
                    <td>{{ player.id }}</td>
                    <td>{{ player.player }}</td>
                    <td>{{ player.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        <form action="/delete/{{player.id}}" method="POST" style="display: inline;">
                            <button type="submit" class="remove_btn">Remove</button>
                        </form>
                    </td>
                </tr>
                 {% endfor %}
            </tbody>
         </table>

    </div>

    <!-- Add player form -->
    <form action="/" method="POST" class="input_field">
        <input type="text" name="player" id="player" placeholder="Enter player name" required>
        <input type="submit" value="Add Player">
    </form>


</body>
</html>
