<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dart Tournament</title>
    <script>
        // Save the scroll position when the page is unloaded (i.e., before reloading)
        window.onbeforeunload = function() {
            localStorage.setItem('scrollPosition', window.scrollY);
        };
        
        // Restore the scroll position when the page is loaded
        window.onload = function() {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, scrollPosition);  // Scroll to the saved position
                localStorage.removeItem('scrollPosition');  // Clear the scroll position after restoring
            }
        };
        </script>
</head>
<body>
    <div class="content">
        <h1 class="title">Dart Tournament</h1>
        <p class="little_undertitle">Programm by Fabian Haumüller</p>
        <p class="center_text">Add or remove players</p>  

        <!-- Player table -->
         <table class="player_table">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Added</th>
                    <th>present</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through all players in the database and diplay them-->
                {% for player in players %}
                <tr class="player_row">
                   <td>{{ player.player }}</td>
                   <td>{{ player.date_created.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                   <td>
                        <!-- Show if player is present or not -->
                       <form action="/toggle_presence/{{ player.id }}" method="POST" style="display: inline;">
                           <input type="submit" class="present_status" 
                                   style="background-color: {{ 'green' if player.present else '#AF3E4D' }};"
                                   value="{{ 'Present' if player.present else 'Absent' }}">
                               
                           </input>
                       </form>
                   </td>
                   <td>
                        <!-- Delete player -->
                       <form action="/delete/{{player.id}}" method="POST" style="display: inline;">
                           <button type="submit" class="remove_btn">Remove</button>
                       </form>
                   </td>
               </tr>
                {% endfor %}
           </tbody>
        </table>
   </div>

    <!-- Add anchor above the input form-->
     <a name="bottom"></a>
    <!-- Add player form -->
    <form action="/" method="POST" class="input_field">
        <input type="text" name="player" id="player" placeholder="Enter player name" required>
        <input type="submit" value="Add Player">
    </form>
    <!-- player coutner -->
     <p class="center_text">
        Total Players: {{ total_players }} | Present players: {{ present_players}}
     </p>
    <!-- Start game -->
    <form action="{{ url_for('start_game') }}" method="GET" class="start_game">
        <input type="submit" value="Start Game">
    </form>
    <!-- Delete all entries in the db -->
     <form action="/delete/all" method="POST" class="start_game">
        <input type="submit" value="delete all entries">
     </form>
     <!-- note: remove only for testing-->
     <form action="/fill/test" method="POST" class="start_game">
        <input type="submit" value="Fill with test cases">
     </form>

</body>
</html>
