<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <script>
        // Save the scroll position when the page is unloaded (i.e., before reloading)
        window.onbeforeunload = function() {
            localStorage.setItem('scrollPosition', window.scrollY);
        };
        
        // Restore the scroll position when the page is loaded
        window.onload = function() {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, scrollPosition);  // Scroll to the saved position
                localStorage.removeItem('scrollPosition');  // Clear the scroll position after restoring
            }
        };
        </script>
</head>
<body>    
    <div>
        <h1 class="center_text">Tournament Leaderboard</h1>
        
        <table class="player_table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player Name</th>
                    <th>Player ID</th>
                </tr>
            </thead>
            <tbody>
                {% for player in leaderboard %}
                    <tr>
                        <td>{{ player.final_rank }}</td>
                        <td>{{ player.player_name }}</td>
                        <td>{{ player.player_id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>