<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Gamemode</title>
</head>
<body>
    <h1>Select Number of Groups</h1>
    <ul>
        <li><a href="/game/2">2 Groups</a></li>
        <li><a href="/game/4">4 Groups</a></li>
        <li><a href="/game/9">9 Groups</a></li>
        <!-- Button to go back to the main page-->
         <form action="{{ url_for('index') }}" method="GET">
            <input type="submit" value="Return" class="start_game">          
         </form>
    </ul>
</body>
</html>
