<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Gamemode</title>
</head>
<body>
    <h1 class="title">Select Number of Groups</h1>
    <p class ="center_text">Amount of players: {{present_players}}</p>
    <p class="list">
        <!-- Loop trough the numbers and display them-->
        {% for number in numbers %}
        <a href="/game/{{number}}">{{number}} Groups à {{ (present_players / number) | int }} players</a><br>
        {% endfor %}
    </p>
        <!-- Button to go back to the main page-->
         <form action="{{ url_for('index') }}" method="GET" class="start_game">
            <input type="submit" value="Return">          
         </form>

</body>
</html>
